<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WobInsert</servlet-name>
		<servlet-class>com.google.wallet.objects.servlets.WobInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WobInsert</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WobJwt</servlet-name>
		<servlet-class>com.google.wallet.objects.servlets.WobGenerateJwtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WobJwt</servlet-name>
		<url-pattern>/jwt</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
	    <param-name>ServiceAccountId</param-name>
	    <param-value>Your Service Account ID</param-value>
	</context-param>
	<context-param>
	    <param-name>RsaKeyPath</param-name>
	    <param-value>Your key.p12 path</param-value>
	</context-param>
	<context-param>
	    <param-name>IssuerId</param-name>
	    <param-value>Your Issuer ID</param-value>
	</context-param>
	<context-param>
	    <param-name>ApplicationName</param-name>
	    <param-value>Your application name</param-value>
	</context-param>
</web-app>
